* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-gap: 1rem;
   
    width: 100%;
    grid-template-columns: 1fr 300px ;
    grid-template-rows: repeat(3,200px) repeat(2,150px) 100px 200px;
    background-color: lightgray;
   
}

.header {
    display: grid;
    grid-template-rows: auto;
    grid-area: 1/1/2/3;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.blog1 {
    display: grid;
    grid-area: 2/1/4/2;
    background-color: white;
    padding: 10px;
    text-align: justify;
}

.img1{
    background-image: url(./images/b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}


.me {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: white;
    background-position: center;
    padding: 10px;
}



.img3 {
background-image: url(./images/dev.png);
background-repeat: no-repeat;
background-size: contain;
}

.blog2 {
    display: grid;
    grid-area: 4/1/7/2;
    background-color: white;
    padding: 10px;
    text-align: justify;
}

.img2 {
    background-image: url(./images/b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
   
}

.side{
    display: grid;
    grid-area: 3/2/5/3;
    background-color: white;
    padding: 10px;
}

.img4 {
    background-image: url(./images/p1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 80px;
}

.img5 {
    background-image: url(./images/p2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 80px;
}

.img6 {
    background-image: url(./images/p3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 80px;
}

.follow {
    display: grid;
    grid-area: 5/2/6/3;
    background-color: white;
    padding: 10px;
}

.footer {
    display: grid;
    grid-template-rows: auto;
    grid-area: 7/1/8/3;
    justify-content: center;
    align-items: center;
    
}

